:root {
    // base color
    --accent-color: #ff0000;
    --grey-color: #909090;
    --grey-color-alt: #ccc;
    --border-color: rgba(0,0,0,0.1);

    // background color
    --bg-color: #fff;
    --bg-color-alt: #f9f9f9;
    --bg-color-active: #e5e5e5;

    // text color
    --text-color: #030303;
    --text-color-alt: #606060;
    --text-color-white: #fff;
}