@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    // font
    --body-font: 'Roboto', sans-serif;
    --icon-font: 'icomoon';

    // text size
    --big-font-size: 1.25rem; // 18px
    --normal-font-size: 1rem; // 16px
    --small-font-size: 0.875rem; // 14px
    --smaller-font-size: 0.75rem; // 12px
    
    --font-bold: 500;
}